---
---

@import "{{ site.theme }}";

.circleIMG {
	border-radius: 50%;
	border: 3px solid  #00BFFF;
}

.tiny-circleIMG {
	width: 50%;
	height: auto;
	border-radius: 50%;
	border: 3px solid  #00BFFF;
}
